{{#partial "content"}}

    <p>Team Name:</p>

    <p>{{ member.memberName}}</p>
    <h5>Member Name:</h5>
    <p> {{ member.badge }}</p>
    <h5> Badge Number:</h5>
    <p>

        <form action="/teams/members/new" method="post">
            <label for="memberName"> Add a person</label>
            <input id="memberName" name="memberName" type="text">
            <label for="badge">Enter your desired badge number</label>
            <input id="badge" name="badge" type="number value"<br>


        <a href="/teams/{{teams.id}}/update">Edit this team</a><br>


    <!--<p class="text-muted"><a href="/teams/{{deleteTeam.id}} delete">Delete this team</a></p>-->


        <button type="submit" class="btn btn-default">Go!</button>



{{/partial}}

{{> layout.hbs}}