{{#partial "content"}}

    <h1>Team list!</h1>

    {{#if teams}}
        {{#each teams }}
            <p>Current Team Rooster:</p>
            <p>{{ name }} <a href="/teams/{{id}}">Look to see more about the team...</a></p>
        {{/each}}
    {{else}}
        <p>No Teams have signed up yet!</p>
    {{/if}}

    <p>Add a new Team:</p>

    <form action="/teams/new" method="post">
        <label for="name">Name</label>
        <input id="name" name="name" type="text"><br>
        <label for="description">Description</label>
        <input id="description" name="description" type="text"><br>

        <button type="submit" class="btn btn-success">Add new team</button>
    </form>
{{/partial}}

{{> layout.hbs}}
