{{#partial "content"}}

    {{#if editTeam}}
        <h1>Edit this Team!</h1>
        <form action="/teams/{{editTeam.id}}/update" method="POST">
            <label for="content">Edit this teams info or team members</label>
            <input id="content" name="content" type="text" value="{{editTeam.content}}">
        </form>
    {{else}}

        <h1>Add a new Post!</h1>
        <form action="/teams/new" method="post">
            <label for="name">Name of your codealicous team!!</label>
            <input id="name" name="name" type="text"><br>
            <label for="description">Description of your codealicous team!!</label>
            <input id="description" name="description" type="text"><br>
    {{/if}}
        <button type="submit" class="btn btn-danger">Go!</button>
    </form>
{{/partial}}
{{> layout.hbs}}