{{#partial "content"}}

    {{#if editTeam}}
        <h1>Edit this Team!</h1>
        <form action="/teams/{{editTeams.id}}/update" method="POST">
            <label for="name">Edit this teams name.</label>
            <input id="name" name="name" type="text" value="{{editTeams.name}}"><br>
            <label for="description">Edit this team's description.</label>
            <input id="description" name="description" type="text" value="{{editTeams.description}}">
        </form>
    {{else}}

        <h1>Add a new Post!</h1>
        <form action="/teams/new" method="post">
            <label for="name">Name of your codealicous team!!</label>
            <input id="name" name="name" type="text"><br>
            <label for="description">Description of your codealicous team!!</label>
            <input id="description" name="description" type="text"><br>
    {{/if}}
        <button type="submit" class="btn btn-danger">Go!</button>
    </form>
{{/partial}}
{{> layout.hbs}}